*{
   font-family: Poppins, sans-serif;
}
body{
   background: #030c18;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   height: 100vh;
}
.btn-go-back{
   background: none;
   width: 250px;
   height: 60px;
   border: 4px solid white;
   font-size: 20px;
   font-weight: bold;
   color: white;
   transition: .2s linear;
   position: relative;
   cursor: pointer;
   top: 300%;
}
.btn-go-back:hover{
   color: #030c18;
}
.btn-go-back::before{
   content: "";
   position: absolute;
   width: 0px;
   height: 55px;
   top: 0px;
   left: 0px;
   background-color: white;
   z-index: -1;
   transition: .2s linear;
   cursor: pointer;
}
.btn-go-back:hover::before{
   width: 245px;
}
h1{
   text-align: center;
   font-size: 60px;
   margin: 50px 0;
   color: white;
}
.grille{
   max-width: 1300px;
   width: 80%;
   height: auto;
   margin: 30px auto;
   border: 1px solid #030c18;
   display: grid;
   grid-template-columns: repeat(auto-fill,300px);
   justify-content: center;
   grid-gap: 10px;
}
.grid-item{
   width: 292px;
   height: 165px;
   background: #030c18;
}
/*scrollbar*/
::-webkit-scrollbar{
   background-color: #2f3334;
   color: #c5beb2;
   width: 10px;
}
::-webkit-scrollbar-thumb{
   background: #6b7277;
   border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
   background-color: #6b7277;
}
::-webkit-scrollbar-thumb:active{
   background-color:#5b6164 ;
}
::-webkit-scrollbar-corner{
   background-color: #27292a;
}