/* styles.css */

/* Add styles here to customize the appearance of your app */

/* Animation on page load */

.input, .input-wrap{
    animation: transitionIn 0.75s;
}
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

/* Research bar */

*{
    box-sizing: border-box;
}
body{
    background: #030c18;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

/* Navigation Bar*/

*{
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height:100vh ;
}
.nav{
    position: fixed;
    top: 20px;
    left: 20px;
    bottom: 20px;
    width: 230px;
    border-radius: 10px;
    box-sizing: initial;
    border-left: 5px solid #080e16;
    background-color: #0e1827;
    transition: 0.5s;
}
.nav ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}
.nav ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.nav ul li a{
    position: relative;
    display: bock;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.nav ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.nav ul li a .icon ion-icon{
    font-size: 1.5em;
}
.nav ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}

/* Arrow */

#arrow {
    position: relative;
    top: 3px;
}
body{
    margin: 0;
    padding: 0;
    padding: 1em;
    text-align: center;
}
h3{
    font-size: 40px;
    font-weight: lighter;
    color: white;
    margin-top: 30%;
    margin-top: -30px;
}
.block p {
    padding: 3em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    margin-top: 10px;
    font-size: 30px;
}
section{
    display: block;
    max-width: 1000px;
    margin: 0 auto 1em;
    height: 200px;
    position: relative;
    border-right: .2em;
    transform: preserve-3d;
}
#main-text{
    color: #22AAAE;
    font-size: 30px;
    font-weight: lighter;
    margin-top: 30%;
    margin-top: -40%;
    padding-bottom: 100px;
}
#blender{
    position: absolute;
    width: 150px;
    height: 125px;
    bottom: 20%;
    left:25%;
}
#photoshop{
    position: absolute;
    width: 200px;
    height: 110px;
    bottom: 20%;
    left:45%;
    
}
#figma{
    position: absolute;
    width: 74px;
    height: 108px;
    bottom: 20%;
    left:73%;
}