/* styles.css */

/* Add styles here to customize the appearance of your app */

/* Animation on page load */

.input-wrap{
    animation: transitionIn 0.1s;
}
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(0);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

/* Research bar */

*{
    box-sizing: border-box;
}
body{
    background: #030c18;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

/* Navigation Bar*/

*{
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height:100vh ;
}
.nav{
    position: fixed;
    top: 20px;
    left: 20px;
    bottom: 20px;
    width: 230px;
    border-radius: 10px;
    box-sizing: initial;
    border-left: 5px solid #080e16;
    background-color: #0e1827;
    transition: 0.5s;
}
.nav ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}
.nav ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.nav ul li a{
    position: relative;
    display: bock;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.nav ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.nav ul li a .icon ion-icon{
    font-size: 1.5em;
}
.nav ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}

/* Arrow */

#arrow {
    position: relative;
    top: 3px;
}
body{
    margin: 0;
    padding: 0;
    padding: 1em;
    text-align: center;
}
h3{
    font-size: 40px;
    font-weight: lighter;
    color: white;
    margin-top: 30%;
    margin-top: -30px;
}
.block p {
    padding: 3em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    margin-top: 10px;
    font-size: 30px;
}
section{
    display: block;
    max-width: 1000px;
    margin: 0 auto 1em;
    height: 200px;
    position: relative;
    border-right: .2em;
    transform: preserve-3d;
}
#main-text{
    color: #22AAAE;
    font-size: 30px;
    font-weight: lighter;
    margin-top: 30%;
    margin-top: -40%;
    padding-bottom: 100px;
}
#blender{
    position: absolute;
    width: 150px;
    height: 125px;
    bottom: 20%;
    left:25%;
}
#photoshop{
    position: absolute;
    width: 200px;
    height: 110px;
    bottom: 20%;
    left:45%;
    
}
#figma{
    position: absolute;
    width: 74px;
    height: 108px;
    bottom: 20%;
    left:72.1%;
}
#blender-text{
    position: absolute;
    bottom: 35%;
    left:27.5%;
    font-family: 'Zen Kurenaido', sans-serif;
}
#photoshop-text{
    position: absolute;
    font-family: 'Zen Kurenaido', sans-serif;
    left:47.2%;
    bottom: 35%;
}
#figma-text{
    position: absolute;
    font-family: 'Zen Kurenaido', sans-serif;
    left:72.1%;
    bottom: 35%;
}
.tools-text{
    font-size: 25px;
    font-family: 'Zen Kurenaido', sans-serif;
    color: white;
}
.main-tool-text{
    color: white;
    font-size: 30px;
}
.how-i-started{
    color: #22AAAE;
    font-size: 15px;
    padding-top: 40px;
}
.btn-view-work{
    background: none;
    width: 250px;
    height: 60px;
    border: 4px solid white;
    font-size: 20px;
    font-weight: bold;
    color: white;
    transition: .4s linear;
    position: relative;
    cursor: pointer;
    top: 1130%;
    left: 10%;
}
.btn-view-work:hover{
    color: #030c18;
}
.btn-view-work::before{
    content: "";
    position: absolute;
    width: 0px;
    height: 55px;
    top: 0px;
    left: 0px;
    background-color: white;
    z-index: -1;
    transition: .4s linear;
    cursor: pointer;
}
.btn-view-work:hover::before{
    width: 245px;
}
#master-tool-text{
    position: absolute;
    top: 90%;
    left: 470px;
    color: white;
    font-size: 30px;
}
#blender-skill-bar{
    position: absolute;
    width: 900px;
    height: 23px;
    
    background: #D9D9D9;
    border-radius: 10px 21.5px 21.5px 10px;
    top: 105%;
    left: 30%;
}
#photoshop-skill-bar{
    position: absolute;
    width: 900px;
    height: 23px;
    
    background: #D9D9D9;
    border-radius: 10px 21.5px 21.5px 10px;
    top: 130%;
    left: 30%;
}
#figma-skill-bar{
    position: absolute;
    width: 900px;
    height: 23px;
    
    background: #D9D9D9;
    border-radius: 10px 21.5px 21.5px 10px;
    top: 155%;
    left: 30%;
}

/* Greeb bars*/

#blender-green-bar{
    position: absolute;
    width: 528px;
    height: 23px;
    
    background: #8FFF00;
    border-radius: 10px 21.5px 21.5px 10px;

    top: 105%;
    left: 30%;
}
#photoshop-green-bar{
    position: absolute;
    width: 700px;
    height: 23px;
    
    background: #8FFF00;
    border-radius: 10px 21.5px 21.5px 10px;
    
    top: 130%;
    left: 30%;
}
#figma-green-bar{
    position: absolute;
    width: 390px;
    height: 23px;

    background: #8FFF00;
    border-radius: 10px 21.5px 21.5px 10px;

    top: 155%;
    left: 30%;
}
#blender-skill-bar-icon{
    position: absolute;
    width: 60px;
    height: 51px;
    top: 103%;
    left: 25%;
}
#photoshop-skill-bar-icon{
    position: absolute;
    width: 100px;
    height: 59px;
    top: 128%;
    left: 24%;
}
#figma-skill-bar-icon{
    position: absolute;
    width: 60px;
    height: 84px;
    top: 153%;
    left: 25%;
}
/*#under-button{
    position: absolute;
    background: #030c18;
    width: 250px;
    height: 60px;
    top: 180%;
    left: 48.5%;
    opacity: 0;
}*/
/*scrollbar*/
::-webkit-scrollbar{
    background-color: #2f3334;
    color: #c5beb2;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: #6b7277;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #6b7277;
}
::-webkit-scrollbar-thumb:active{
    background-color:#5b6164 ;
}
::-webkit-scrollbar-corner{
    background-color: #27292a;
}